@model RulesEngineEval.Models.Employee
@{
    ViewBag.Title = "CodePlexRe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    CodePlexRe</h2>
<p>
    All these samples are take from <a>http://rulesengine.codeplex.com/</a></p>
<h3>
    Error Messages</h3>

<pre>
See code here <a>http://rulesengine.codeplex.com/wikipage?title=Error%20Messages&referringTitle=Documentation</a>
</pre>

@using (Html.BeginForm())
{ 
    <h2>
        Test it</h2>
    <table>
        <tr>
            <td>
                Name
            </td>
            <td>
                Email
            </td>
            <td>
                Employee Number
            </td>
            <td>
                Is Valid
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBox("Name")
            </td>
            <td>
                @Html.TextBox("Email")
            </td>
            <td>
                @Html.TextBox("EmployeeNumber")
            </td>
            <td>
                @Model.IsValid
            </td>
        </tr>
        <tr>
            <td colspan="3">
            @Model.Errors
            </td>
            
        </tr>
    </table>
    <input type="submit" value="Validate" />
}
<hr>
