@{
    ViewBag.Title = "Home Page";
}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>
        Rules Engine Evaluation</h1>
    <p>
        This is a quick knockup to play around with different rules engines</p>
</div>
<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <h2>
            CodePlex Rules Engine</h2>
        <p>
            All these samples are take from <a href="http://rulesengine.codeplex.com/">rulesengine.codeplex.com</a></p>
        <p>
            @Html.ActionLink("Simple Usage >>", "Simple", "CodePlexRe", null, new { @class = "btn" })</p>
        <p>
            @Html.ActionLink("Cross Field Usage >>", "CrossField", "CodePlexRe", null, new { @class = "btn" })</p>
        <p>
            @Html.ActionLink("Object Graph Validation >>", "ObjectGraphValidation", "CodePlexRe", null, new { @class = "btn" })</p>
        <p>
            @Html.ActionLink("Custom Rules >>", "CustomRules", "CodePlexRe", null, new { @class = "btn" })</p>
        <p>
            @Html.ActionLink("Error Messages >>", "ErrorMessages", "CodePlexRe", null, new { @class = "btn" })</p>
    </div>
    <div class="span4">
          <h2>
            Code Effects Rules Engine</h2>
        <p>
            All these samples are take from <a href="http://rule.codeeffects.com">rule.codeeffects.com</a></p>
        <p>
            @Html.ActionLink("Index", "Index", "CodeEffects", null, new { @class = "btn" })</p>
        
    </div>

    <div class="span4">
          <h2>
            Specification Pattern</h2>
        <p>
            All these samples are take from <a href="http://iainjmitchell.com/blog/?p=550">some blog</a></p>
        <p>
            @Html.ActionLink("Index", "Index", "Spec", null, new { @class = "btn" })</p>
        
    </div>
    
</div>
